# General Bot settings
# BOT Login Token
BOT_TOKEN =
# ID of your Discord Server/Guild
GUILD_ID =
# ID of the text channel where the bot sends logs
LOG_CHANNEL =

# Database configurations. 
# This is the configuration for sqlite, this can be left as is.
DB_LINK = sqlite:///data/clanbotjas.sqlite
DB_LINK_ASYNCIO = sqlite+sqlmy:///data/clanbotjas.sqlite

# This is how a database for postgres would be configured
#DB_LINK = "postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/clanbotjas"
#DB_LINK_ASYNCIO = "postgresql+asyncpg://<USER>:<PASSWORD>@<HOST>:<PORT>/clanbotjas"

# This is how a database for MariaDB would be configured
#DB_LINK = "mysql+pymysql://<USER>:<PASSWORD>@<HOST>:<PORT>/clanbotjas?charset=utf8mb4"
#DB_LINK_ASYNCIO = "mysql+asyncmy://<USER>:<PASSWORD>@<HOST>:<PORT>/clanbotjas?charset=utf8mb4"

# User permission settings
# ID for the role required to execute slash commands (full permissions)
COMMAND_PERMISSION_ROLE =


# Voice Auto Scaler settings
# Enable or Disable Voice Auto Scaler, true/false
VOICE_SCALER_ENABLE = true
# ID of the category to auto scale voice channels in
VOICE_CHANNEL_CATEGORY =
# Default name for auto scaling voice channels
VOICE_CHANNEL_DEFAULT_NAME = 'Voice Channel'


# Self-Role text channel subscription settings
# Enable or Disable Self-Role channel subscriptions, true/false
ROLEBOT_ENABLE = true
# ID of the text channel where subscription options should appear
ROLEBOT_SETTINGS_CHANNEL =


# Auto-Role settings
# Enable or Disable Auto-Role, true/false
AUTO_ROLE_ENABLE = true
# Roles to instantly add to new members joining the server, comma separated
AUTO_ROLES = Role1,Role2,etc


# Poll settings
# Enable or Disable Polls, true/false
POLL_ENABLE = true
# We have supplied the Helvetica font, please provide your own in the data folder if you wish. (TrueType/.ttf only!)
# Font Regular (default = Helvetica.ttf)
POLL_FONT_REGULAR = Helvetica.ttf
# Font Bold (default = Helvetica-Bold-Font.ttf)
POLL_FONT_BOLD = Helvetica-Bold-Font.ttf
# If fonts other than the default are used, scaling might be required. (default = 10)
POLL_FONT_SCALE = 10
