[
    {
        "title": "Games",
        "channels": [
            {
                "title": "team-fortress-2",
                "role": "tf2"
            },
            {
                "title": "pubg",
                "role": "pubg"
            }
        ]
    },
    {
        "title": "Chatrooms",
        "channels": [
            {
                "title": "announcements",
                "role": "announcements"
            },
            {
                "title": "general",
                "role": "general"
            },
            {
                "title": "offtopic",
                "role": "offtopic"
            }
        ]
    }
]